@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  padding: 3rem 8rem;
} */

.top-level {
  background-color: ;
  background: linear-gradient(
    to right,
    #4731d3 0%,
    #4731d3 70%,
    #cbf281 70%,
    #cbf281 100%
  );
}
