@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  padding: 3rem 8rem;
} */

.top-level {
  padding-bottom: 7rem;
  background: linear-gradient(
    to right,
    #4731d3 0%,
    #4731d3 70%,
    #cbf281 70%,
    #cbf281 100%
  );
}
.top-level-dark {
  padding-bottom: 7rem;
  background: linear-gradient(
    to right,
    #171043 0%,
    #171043 70%,
    #1a210b 70%,
    #1a210b 100%
  );
}
